.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #181818;
  z-index: 9999;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 1250px;
}

.navbarBrand a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbarToggle {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  z-index: 1;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}

.navbarMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  padding: 1rem;
  gap: 1.5em;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    position: static;
    opacity: 1;
    visibility: visible;
    width: auto;
    margin: 0;
  }
}

.navbarLink {
  color: white;
  font-weight: 900;
  cursor: pointer;

  &.active {
    color: #08fdd8;
  }
}

.navbarLink:hover {
  color: #08fdd8;
}

// .navbarLinkActive {
//     color: #08FDD8;
// }

@media (min-width: 768px) {
  .navbarToggle {
    border: 3px solid red;
    display: none;
  }
}
