.footer {
  background: #181818;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 3rem 1rem;
  & h2 {
    color: #08fdd8;
  }
  & p {
    color: white;
  }
  .socialMContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
  }

  .socialIcon {
    color: rgb(8, 253, 216);
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid #08fdd8;
    width: 100%;
    max-width: 220px;
    padding: 1em;
    box-shadow: 0px 0px 5px #08fdd8;
    text-align: center;
    text-decoration: none;
  }
  .socialIcon:hover {
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 5px #fff;
  }
}
@media (min-width: 750px) {
  .footer {
    .socialMContainer {
      flex-direction: row;
      justify-content: center;
    }
  }
}
